.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Creates animation of an image spinning */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@font-face {
  font-family: 'Tilt';
  src: url('/public/fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-header {
  background-color: #e5dacb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Tilt', sans-serif;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/* .App-link {
  color: #8c8d8d;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
